@font-face {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: 400;
    src: local("YesevaOne"),
            url("../fonts/YesevaOne-Regular.ttf") format("ttf");
  }

  @font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src: local("NunitoSans"),
            url("../fonts/NunitoSans.ttf") format("ttf");
  }